*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 .cards:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }
 .img-card{
    height: 200px  !important ;
    position: relative;
 }
 .card-des{
    font-size: 15px;
 }
 .my-btn{
    position: relative;
    bottom:  30px;
    margin-left: 3px;
    background-color: #ffce32;
    border: none;
    padding: 2px;
    font-size: 12px;
    border-radius: 2px;
    
 }

 .cards img{
   width: 286px;
   height: 250px;
 }

 .cards{
   border: 1px solid #ccd6d7;
   border-radius: 7px;
   margin: 0px 7px;
   margin-bottom: 7px;
 }
 .parentCard{
   padding: 10px;

 }

 .card-body{
   position: relative;
   bottom: 26px;
   right: 1px;
   padding-left: 5px;
   border-left: 5px solid  #ffce32;
 }

 .card-des{
   margin-bottom: 10px;
   font-size: 22px;

 }
 .card-title{
   font-weight: 900;
   font-size: 20px;
   margin-bottom: 10px;
 }
 .card-text{
   color: #aebbbd;
   font-size: 16px;
 }